nav img{
    height: 30px;
}
nav{
    background-color: #8ace00;
}
main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1,h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1, h3{
    color: #8ace00;
   
}
.gif{
    display: flex;
    justify-content: center; 
}
footer{
    font-size: large;
    color: #8ace00;
}
a{
    color: #8ace00;
    text-align: center;
}

